<h2>Add Invoice</h2>  <!all this component is for ex 6 class>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="pname">Pname</label>
    <input type="text"
            class="form-control"
            id="pname"
            pname = "pname"
            required   
            [(ngModel)] = "invoice.pname">
  </div>
  <div class="form-group">
    <label for="amount">amount</label>
    <input type="text"
            class="form-control"
            id="amount"
            pname = "amount"
            [(ngModel)] = "invoice.amount">      
  </div>
  <button type="save invoice" class="btn btn-primary" >Save Invoice</button>
</form>

 