<hadardasim-invoice-form (invoiceAddedEvent) = "addInvoice($event)">Add Invoices</hadardasim-invoice-form> <! ex 6 class>
<h1> invoices </h1>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group invoices">
        <li *ngFor = "let invoice of invoices" 
             [class.active]="currentInvoice == invoice"
             (click) = "select(invoice)"
             class="list-group-item">
             <hadardasim-invoice [invoice] = "invoice"
             (deleteEvent) = "deleteInvoice($event)"
             (cancelEvent) = "updateInvoice($event)"> </hadardasim-invoice> <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateInvoice-->

         <!--ul>       <!-- use this ul for join. another file changed is invoices.service.ts -->
          <!--li *ngFor = "let title of invoice.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul-->  
        </li>
    </ul>
</div>





<!--<hadardasim-user-form (userAddedEvent) = "addUser($event)">Add Users</hadardasim-user-form> <! ex 6 class>  -->
<h1> List of invoices </h1>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>

<div>
    <ul class="list-group invoices">
        <li *ngFor = "let invoice of invoices" 
             [class.active]="currentInvoice == invoice"
             (click) = "select(invoice)"
             class="list-group-item">
             <hadardasim-invoice [invoice] = "invoice"
             (deleteEvent) = "deleteInvoice($event)"
             (cancelEvent) = "updateInvoice($event)"> </hadardasim-invoice>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
          <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
          <li *ngFor = "let pname of invoice.prodCate">
                {{(pname | async)?.pname}}
          </li>
        </ul>  
        </li>
    </ul>
</div>
<!--h1> ex 4 </h1>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group invoices">
        <li *ngFor = "let invoice of invoices" 
             [class.active]="currentInvoice == invoice"
             (click) = "select(invoice)"
             class="list-group-item">
             <hadardasim-invoice [invoice] = "invoice"
             (deleteEvent) = "deleteInvoice($event)"
             (cancelEvent) = "updateInvoice($event)"> </hadardasim-invoice>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
         <!--ul>       <!-- use this ul for join. another file changed is users.service.ts -->
         <!--li *ngFor = "let cname of invoice.prodCate">
                {{(cname | async)?.cname}}
          </li>
        </ul>  
        </li>
    </ul-->
<!--/div-->
<!--p>invoice-form works!</p-->

