<span *ngIf = "!isEdit"> 
  <font color=blue>Pname:</font> {{product.pname}} <br> 
  <font color=blue>Cost:</font> {{product.cost}} <br> 
  <font color=blue>Category:</font> {{product.categoryId}} <br></span>
<span *ngIf = "isEdit">
    Pname: <input type = "text" [(ngModel)] = "product.pname"   >
    Cost: <input type = "text" [(ngModel)] = "product.cost"   >
</span>
<button (click) = "toggelEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->

