<span *ngIf = "!isEdit"> <font color=blue>Pname:</font> {{invoice.Pname}},<br> <font color=blue>Amount:</font> {{invoice.amount}} </span>
<span *ngIf = "isEdit">
    Pname: <input type = "text" [(ngModel)] = "invoice.Pname"   >
    Amount: <input type = "text" [(ngModel)] = "invoice.amount"   >
</span>
<button (click) = "toggelEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->
