<span *ngIf = "!isEdit"> 
  <font color=blue>Pname:</font> {{customer.pname}} <br>
  <font color=blue>Pid:</font> {{customer.pid}} <br>  
  <font color=blue>Cost:</font> {{customer.cost}} <br> 
  <font color=blue>Category:</font> {{customer.categoryId}} <br></span>
<span *ngIf = "isEdit">
    Pname: <input type = "text" [(ngModel)] = "customer.pname"   >
    Cost: <input type = "text" [(ngModel)] = "customer.cost"   >
    Pid: <input type = "text" [(ngModel)] = "customer.pid"   >
</span>
<button (click) = "toggelEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->

